@import "_mixins"

$civilian-color: hsl(201, 50%, 45%)

.town
	.town-info
		margin: 10px 0 20px 0

	.civilian-dot
		+border-radius(9999px)
		float: left
		height: 40px
		width: 40px
		margin: 5px
		background-color: $civilian-color
		border: 3px solid rgba(white, 0.6)
		cursor: pointer

		&:hover
			background-color: lighten($civilian-color, 10%)

		&.selected
			border: 3px solid rgba(black, 0.8)

		&.highlighted
			border: 3px solid rgba(black, 0.3)

	.view-switcher
		margin-bottom: 10px

	.civilian-info
		.property
			margin-bottom: 5px

			.label
				display: inline-block
				font-weight: bold
				color: black
				vertical-align: top
				padding-top: 6px
				width: 80px
				text-align: left

			.value
				display: inline-block
				border-left: 1px solid #cfcfcf
				padding-left: 10px

				td
					padding-bottom: 4px

				&.history
					max-height: 200px
					overflow-y: auto

			.effect
				+border-radius(3px)
				font-weight: bold
				text-align: center
				color: hsl(0, 0%, 40%)
				background-color: hsl(0, 0%, 90%)

				&.good
					color: hsl(120, 70%, 40%)
					background-color: hsl(120, 70%, 90%)

				&.bad
					color: hsl(0, 70%, 40%)
					background-color: hsl(0, 70%, 90%)

			.relationship-person
				cursor: pointer
				padding-right: 10px

				&:hover
					text-decoration: underline
