@import "_mixins"

$civilian-color: hsl(201, 50%, 45%)

.town
	+no-select

	.town-panel
		position: fixed
		top: 0px
		bottom: 0px
		right: 400px

	.town-header
		background-color: hsl(0, 0%, 95%)
		padding: 10px 20px 15px 20px
		border-bottom: 1px solid #cfcfcf

		.name
			font-size: 20px
			font-weight: bold

	.town-canvas
		padding: 20px
		overflow: hidden

	.civilian-dot
		+border-radius(9999px)
		float: left
		height: 70px
		width: 70px
		margin: 5px
		background-color: $civilian-color
		border: 3px solid rgba(white, 0.6)
		cursor: pointer

		&:hover
			background-color: lighten($civilian-color, 10%)

		&.selected
			border: 3px solid rgba(black, 0.8)

		&.highlighted
			border: 3px solid rgba(black, 0.3)

	.view-switcher
		position: fixed
		bottom: 20px
		left: 20px
		z-index: 100

	.civilian-info
		position: fixed
		top: 0px
		bottom: 0px
		right: 0px
		width: 400px
		padding: 20px 15px
		background-color: hsl(0, 0%, 95%)
		border-left: 1px solid #cfcfcf

		.property
			margin-bottom: 5px

			&.history
				.label
					display: block
					width: 100%
					border-bottom: 1px solid #cfcfcf
					padding-bottom: 3px
					margin-bottom: 6px

				.value
					display: block
					max-height: 350px
					overflow-y: auto
					border: none
					padding-right: 15px

			.label
				display: inline-block
				font-weight: bold
				color: black
				vertical-align: top
				padding-top: 6px
				width: 80px
				text-align: left

			.value
				display: inline-block
				border-left: 1px solid #cfcfcf
				padding-left: 10px

				td
					padding-bottom: 4px

			.effect
				+border-radius(3px)
				font-weight: bold
				text-align: center
				color: hsl(0, 0%, 40%)
				background-color: hsl(0, 0%, 90%)

				&.good
					color: hsl(120, 70%, 40%)
					background-color: hsl(120, 70%, 90%)

				&.bad
					color: hsl(0, 70%, 40%)
					background-color: hsl(0, 70%, 90%)

			.relationship-person
				cursor: pointer
				padding-right: 10px

				&:hover
					text-decoration: underline
